$stackItemBackground: #100029;

.stackItem {
  background: $stackItemBackground;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: drop-shadow(0 0 0.75rem rgb(152, 117, 235));
  }
  .image {
    position: relative !important;
    width: 45px !important;
    aspect-ratio: 1/1;
  }
}
