$stackContainerBackground: #1a0044;
$stackListBackground: radial-gradient(
  circle,
  rgba(138, 46, 180, 0.6082808123249299) 0%,
  rgba(26, 0, 68, 1) 79%
);

.stackContainer {
  z-index: 4;
  position: relative;
  background: $stackContainerBackground;
  .stackListWrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    .stackList {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 0 auto;
      background: rgb(138, 46, 180);
      background: $stackListBackground;
      &:first-child {
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
      }
      &:last-child {
        padding: 0.5rem 0.5rem 1.5rem 0.5rem;
      }
      .itemsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }
}
