.projectDetailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: 100vh;
}

@media (max-width: 1050px) {
  .projectDetailsWrapper {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
}
