$containerBackground: #0a001b;
$socialIconBackground: linear-gradient(
  180deg,
  rgba(251, 249, 152, 0.705) 0%,
  rgba(251, 133, 0, 1) 100%
);

.contactContainer {
  z-index: 4;
  position: relative;
  background: $containerBackground;
  .innerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 3.5rem 0;
    font-size: 1.1rem;
    .contactDetails {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .icons {
        font-size: 1.5rem;
        display: flex;
        gap: 1rem;
        .icon {
          cursor: pointer;
          background: $socialIconBackground;
          color: #0a001b;
          padding: 0.6rem;
          border-radius: 50%;

          &:hover svg {
            scale: 1.4;
          }
          & svg {
            transition: all 0.2s ease-in-out;
            //Remove extra space around the icon
            display: block;
          }
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
