.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 1.7rem;
  font-size: 1.2rem;
  border: 0;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.button svg {
  display: block;
}

.primary {
  background: #811ae5;
  color: #fff;
}

.primary:hover {
  background: transparent;
  border: 2px solid #811ae5;
}

.secondary {
  background: transparent;
  color: #fb8500;
  border: 2px solid #fb8500;
}

.secondary:hover {
  background: #fb8500;
  color: #fff;
}
